<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.noah.file.mapper.SysFileMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    t.ID
    ,t.PATH
    ,t.NAME
    ,t.MD5
    ,t.SIZE
    ,t.TYPE
    ,t.CONTENT_TYPE
    ,t.LINK_ID
    ,t.LINK_NAME
    ,t.CREATE_TIME
    ,t.CREATE_LOGIN_NAME
    ,t.CREATE_REAL_NAME
    ,t.UPDATE_TIME
    ,t.UPDATE_LOGIN_NAME
    ,t.UPDATE_REAL_NAME
    ,t.FLAG
    ,t.ORDER_BY
    </sql>

    <sql id="conditions">
        <where>
            <if test="name != null and name != ''">
                and t.NAME like #{name}
            </if>
            <if test="md5 != null and md5 != ''">
                and t.MD5 = #{md5}
            </if>
            <if test="type != null and type != ''">
                and t.TYPE = #{type}
            </if>
            <if test="linkName != null and linkName != ''">
                and t.LINK_NAME like #{linkName}
            </if>
        </where>
    </sql>

    <select id="selectPageList" resultType="org.noah.file.pojo.file.SysFile">
        select <include refid="Base_Column_List"/> from sys_file t
        <include refid="conditions"/>
        ${orderSql}
    </select>

</mapper>
