<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.noah.web.sys.mapper.SysMenuMapper">

    <select id="selectMenusByRoleId" resultType="org.noah.web.sys.pojo.menu.SysMenu">
		select m.* from sys_menu m
		join sys_role_menu rm on m.id = rm.menu_id
		where rm.role_id=#{roleId} and m.state='1' and m.platform_type =0 and m.flag='1'
    </select>

	<sql id="conditions">
		<where>
			t.flag='1'
			<if test="name != null and name != ''">
				and t.name like #{name}
			</if>
			<if test="parentName != null and parentName != ''">
				and p.name like #{parentName}
			</if>
			<if test="url != null and url != ''">
				and t.url like #{url}
			</if>
			<if test="code != null and code != ''">
				and t.code like #{code}
			</if>
			<if test="search != null and search != ''">
				and (t.name like #{search} or t.code like #{search})
			</if>
			<if test="type != null and type != ''">
				and t.type = #{type}
			</if>
			<if test="state != null and state != ''">
				and t.state = #{state}
			</if>
			<if test="platformType != null and platformType != ''">
				and t.platformType = #{platformType}
			</if>
		</where>
	</sql>

	<select id="selectPageList" resultType="org.noah.web.sys.pojo.menu.SysMenu">
		select t.*,(select count(1) from sys_menu m2 where m2.parent_id = t.id and m2.flag='1') as child_num from sys_menu t
		left join sys_menu p on p.id = t.parent_id
		<include refid="conditions"/>
		${orderSql}
	</select>

	<select id="selectChildren" resultType="org.noah.web.sys.pojo.menu.SysMenu">
		select m.*,(select count(1) from sys_menu m2 where m2.parent_id = m.id and m2.flag='1') as child_num from sys_menu m
		where m.parent_id = #{pid} and m.flag='1' order by m.order_by, m.id
	</select>
    <select id="getAllMenuList" resultType="org.noah.web.sys.pojo.menu.SysMenu">
		select t.* from sys_menu t where t.flag='1' and t.state='1' and t.platform_type =0
	</select>
</mapper>
